body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .counter-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    font-size: 6rem;
  }
  
  button {
    font-size: 4rem;
    padding: 20px 40px;
    margin: 20px;
    border: none;
    border-radius: 10px;
  }
  
  #increment {
    background-color: green;
    color: white;
  }
  
  #decrement {
    background-color: red;
    color: white;
  }
  